@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Poppins&family=Roboto&display=swap');
/*=============
   CSS Reset
==============*/
*, ::after, ::before{
    box-sizing: border-box;
}
body{
    margin: 0px;
    padding: 0px;
}

/*=================
   Utility Classes
==================*/
.flex{
    display: flex;
}

/*=================
   Header Section
==================*/
header{
    padding: 0.5rem 1rem;
    font-family: 'poppins', 'sans-serif';
    background-color: yellow;
    justify-content: space-between;
    align-items: center;
}
header img{
    height: 1.2rem;
}
header form{
    background-color: white;
    align-items: center;
    padding: 0px 0.3rem;
}
.headerSearch{
    border: none;
    width: 13rem;
    padding: 0.3rem;
}
.headerSearch:focus{
    outline: none;
}
.headerSearch::placeholder{
    font-family: 'poppins', 'sans-serif';
    color: black;
}
/* change the placeholder color */
.headerSearch:focus::placeholder{ 
    color: #5c5c5cba;
}
.headerButtons > a{
    color: black;
    text-decoration: none;
    margin-right: 0.8rem;
    font-size: 0.8rem;
}

/*====================
   Sub-Header Section
=====================*/

.subHeader{
    background-color: black;
    color: white;
    justify-content: center;
    font-weight: 500;
    padding: 0.8rem 0rem;
}
.subHeader > *{
    font-family: 'poppins', 'sans-serif';
    border-right: 1px solid white;
    padding: 0rem 2rem;
}
.subHeader :last-child{
    border-right: none;
}
.subHeaderSocial i{
    margin-right: 1rem;
}